
.main-header {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    padding: 10px 20px; 
    background-color: white; 
    color: white;
    /* min-height: 80px; */
}

.logo-container {
    display: flex;
    align-items: center; 
    gap: 15px;
}

.TAILSTRADE {
    font-size: 50px;
    font-weight: bold;
    color: wheat;
    /* background: linear-gradient(90deg, #fe6500, #ffcc00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

.headSectorHolder {
    list-style: none;
    display: flex;
    gap: 50px;
    padding: 0;
    margin: 0;
}

.headSector {
    font-size: 20px;
    font-weight: 500;
    color: darkslategrey;
    cursor: pointer;
}

.profile-icon {
    font-size: 30px;
    color: darkslategrey;
    cursor: pointer;
}

.hero {
    position: relative;
    overflow: hidden;
}

.hero img {
    width: 100%;
    height: 600px; 
    object-fit: cover;
}

.hero-content {
    position: relative;
    text-align: center;
    color: white;
    
}

.Herotext{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* z-index: 10; */
}

.hero-content h1 {
    font-size: 50px;
    text-shadow: 2px 2px black;
}

.Herotext p {
    font-size: 25px;
    text-shadow: 1px 1px black;
}

.herobehideText-hero {
    position: absolute;
    top: 60%; 
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    
    opacity: 0.2;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    /* z-index: 1; */
}

.BoxExploreService{
    display: inline-block; 

    padding: 10px 25px;
    
    /* border: 2px solid white; */
    background: linear-gradient(90deg, rgb(0, 128, 128), rgb(255, 218, 185));
    border-radius: 90px;
    
    color: white; 
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
}

/* ------------------ Featured Pet --------------------------- */

FeaturedPet h1{
    justify-content: center; 
    text-align: center;
    font-size: 50px;
}
FeaturedPet p{
    justify-content: center; 
    text-align: center;
    font-size: 30px;
}

containCard {
    display: flex;
    gap: 20px;        
    flex-wrap: nowrap;
}


card{
    display: block;
    width: 300px;
    border: 2px solid darkslategrey; 
    padding: 15px;
    margin: 20px auto;
    text-align: left;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}
card img{
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

card name, card breed, card info {
    display: block;
    margin-bottom: 3px;
}
card name {
    font-size: 30px;
    font-weight: bold;
    color: black;
    margin-top: 10px;
}
card breed {
    font-size: 15px;
    color: gray;
}
card info {
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.BoxVeiwDetail{
    display: inline-block; 

    padding: 10px 25px;
    
    /* border: 2px solid white; */
    background: linear-gradient(90deg, rgb(0, 128, 128), rgb(255, 218, 185));
    border-radius: 10px;
    
    color: white; 
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
}

/* ------------------ offer --------------------------- */

Offer h1{
    justify-content: center; 
    text-align: center;
    font-size: 50px;
}

Offer p{
    justify-content: center; 
    text-align: center;
    font-size: 30px;
}

containBox {
    display: flex;
    gap: 20px;        
    flex-wrap: nowrap;
}

box{
    display: block;
    width: 400px;
    border: 2px solid darkslategrey; 
    padding: 15px;
    margin: 20px auto;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}
box img{
    width: 40%;
    height: 50%;
    object-fit: cover;
    /* display: block; */
}

box headWord, box info {
    display: block;
    margin-bottom: 5px;
}

box headWord {
    font-size: 30px;
    font-weight: bold;
    color: black;
    margin-top: 10px;
}

box info {
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
}


/* ------------------ How It Work --------------------------- */

HowItWork{
    display: block;
    border: 2px solid white; 
    padding: 15px;
    margin: 20px auto;
    text-align: center;
    border-radius: 8px;
    background-color: rgb(248, 255, 246);
}

HowItWork h1{
    justify-content: center; 
    text-align: center;
    font-size: 50px;
}

HowItWork p{
    justify-content: center; 
    text-align: center;
    font-size: 30px;
}

containBoxHTW {
    display: flex;
    gap: 20px;        
    flex-wrap: nowrap;
}

boxHTW{
    display: block;
    width: 400px;
    border: 2px solid rgb(248, 255, 246); 
    padding: 15px;
    margin: 20px auto;
    text-align: center;
    border-radius: 8px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  */
}
boxHTW img{
    width: 40%;
    height: 50%;
    object-fit: cover;
    /* display: block; */
}

boxHTW headWord, boxHTW info {
    display: block;
    margin-bottom: 5px;
}

boxHTW headWord {
    font-size: 30px;
    font-weight: bold;
    color: black;
    margin-top: 10px;
}

boxHTW info {
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
}

boxHTW number {
    font-size: 50px;
    font-weight: bold;
    color: black;
    margin-top: 10px;

    border-radius: 10px;
    padding: 10px 25px;
    border-radius: 180px;

    background-color: azure;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

/* ------------------ join --------------------------- */

JoinOurCommunity h1{
    justify-content: center; 
    text-align: center;
    font-size: 50px;
}

JoinOurCommunity p{
    justify-content: center; 
    text-align: center;
    font-size: 30px;
}

/* ------------------ footer --------------------------- */

footer{
    display: block;
    border: 2px solid white; 
    padding: 15px;
    margin: 20px auto;
    text-align: center;
    border-radius: 8px;
    background: linear-gradient(90deg, rgb(0, 128, 128), rgb(255, 218, 185));
}

.logo-container-footer {
    display: flex;
    align-items: center; 
    justify-content: center; /* จัดให้อยู่กลาง footer */
}

.TAILSTRADE-footer {
    font-size: 25px;
    font-weight: bold;
    color: white;
    /* background: linear-gradient(90deg, #fe6500, #ffcc00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

footer img{
    padding: 15px;
}

context{
    color: white;
    font-size: 20px;
}

reg{
    color: rgb(219, 211, 211);
    font-size: 15px;
}

/* ------------------ login --------------------------- */

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  top: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
  /* align-items: center;  */
  text-align: center;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  border-radius: 90px;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}


.Remember-Forget .forgetPass{
    margin-left: auto;
    display: inline-block;
}
.Remember-Forget {
    display: flex;
}