/* ------------------ header --------------------------- */
.main-header {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    padding: 10px 20px; 
    background-color: white; 
    color: white;
    /* min-height: 80px; */
}

.logo-container {
    display: flex;
    align-items: center; 
    gap: 15px;
}

.TAILSTRADE {
    font-size: 50px;
    font-weight: bold;
    color: wheat;
    /* background: linear-gradient(90deg, #fe6500, #ffcc00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

.headSectorHolder {
    list-style: none;
    display: flex;
    gap: 50px;
    padding: 0;
    margin: 0;
}

.headSector {
    font-size: 20px;
    font-weight: 500;
    color: darkslategrey;
    cursor: pointer;
}

.profile-icon {
    font-size: 30px;
    color: darkslategrey;
    cursor: pointer;
}

/* ------------------ footer --------------------------- */

footer{
    display: block;
    border: 2px solid white; 
    padding: 15px;
    margin: 20px auto;
    text-align: center;
    border-radius: 8px;
    background: linear-gradient(90deg, rgb(0, 128, 128), rgb(255, 218, 185));
}

.logo-container-footer {
    display: flex;
    align-items: center; 
    justify-content: center; /* จัดให้อยู่กลาง footer */
}

.TAILSTRADE-footer {
    font-size: 25px;
    font-weight: bold;
    color: white;
    /* background: linear-gradient(90deg, #fe6500, #ffcc00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

footer img{
    padding: 15px;
}

context{
    color: white;
    font-size: 20px;
}

reg{
    color: rgb(219, 211, 211);
    font-size: 15px;
}


HeadContain h1{
    justify-content: center; 
    text-align: center;
    font-size: 50px;
}
HeadContain p{
    justify-content: center; 
    text-align: center;
    font-size: 30px;
}

/* ------------------ Main Layout --------------------------- */





/* ------------------ Card --------------------------- */

containCard {
    display: flex;
    gap: 20px;        
    flex-wrap: nowrap;
}


card{
    display: block;
    width: 300px;
    border: 2px solid darkslategrey; 
    padding: 15px;
    margin: 20px auto;
    text-align: left;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}
card img{
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

card name, card breed, card info {
    display: block;
    /* margin-bottom: 3px; */
}
card name {
    font-size: 30px;
    font-weight: bold;
    color: black;
    margin-top: 10px;
}
card price {
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
}
card breed {
    font-size: 15px;
    margin-top: 10px;
    color: gray;
}
card locationInPetList {
    font-size: 14px;
    margin-bottom: 5px;
    color: gray;
}


